*
{
margin: auto 0;
}
.navbar{
height:80px;
width:100%;
background:#2B3856;
}
.nav bar-nav{
margin-left:350;
margin-top:-20;
}
.a li{
display:inline;
}
.nav{
text-decoration:none;
color:white;
background:orange;
padding:17px;
font-size:25px;
}
.dropdown li {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.caret{
width:15px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
